{% extends 'users/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock %}

{% block body %}
    <div class="sub-container">
    <h1 class="login" style="margin-bottom: 50px;">Login</h1>
    {% if error %}
    <p class="error">{{error}}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{form.phone}}
        {{form.password}}
        <input class="btn" type="submit" value="Login">
    </form>
    <h4 style="font-weight: lighter;"><a style="color:rgb(8, 30, 53)" href="{% url 'signup' %}">New account</a></h4>

    </div>
{% endblock %}